:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
  --title-portfolio: #F5F5F5;
  --line-portfolio: #ECECEC;
  --icon-color: #AFB1B8;
  --tuming-funktion: cubic-bezier(0.4, 0, 0.2, 1)
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
}

img {
  display: block;
}

section {
  padding-top: 94px;
}

.conteiner {
  width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
}

.header {
  border-bottom: 1px solid var(--line-portfolio);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav__logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.main-nav__Studio {
  margin-right: 45px;
  color: var(--header-logo-color);
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav__site {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav .contact__email, .main-nav__site:not(last-child) {
  margin-left: 50px;
}
.main-nav__text {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__text--active::after {
  position: absolute;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  content: "";
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.main-nav__text:hover, .main-nav__text:focus {
  color: var(--accent-color);
}
.main-nav .info {
  margin-left: auto;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.contact-list {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
}

.email {
  margin-right: 50px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

.contact__email-icon {
  fill: var(--primary-text-color);
  width: 16px;
  height: 12px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  margin-right: 10px;
  fill: currentColor;
}

.tel {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.contact__tel-icon {
  fill: var(--primary-text-color);
  width: 10px;
  height: 16px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--background-color);
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges3/Img-fon.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges3/Img-fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  width: 700px;
  margin: auto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  border-radius: 4px;
  padding: 10px 30px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  cursor: pointer;
  border: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
  color: var(--secondary-text-color);
}

.details__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.details__group {
  width: 270px;
}
.details__group:not(:last-child) {
  margin-right: 30px;
}
.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-2);
  border-radius: 4px;
  margin-bottom: 30px;
}
.details__title {
  margin-bottom: 5px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.details__text {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work {
  padding-bottom: 94px;
}
.work__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__nature {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}
.work__card:not(:first-child) {
  margin-left: 30px;
}
.work__item {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  text-align: center;
  padding: 27px 82px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.work__text {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.team {
  background-color: var(--background-color-2);
  padding-bottom: 94px;
}
.team__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-text-color);
}
.team-card:not(:first-child) {
  margin-left: 30px;
}
.team-card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-card__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 32px 0px 32px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  fill: var(--icon-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.social-list__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  font-size: 36px;
  color: var(--title-text-color);
  text-align: center;
  margin: 0%;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-top: 50px;
  padding-bottom: 94px;
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  background-color: var(--background-color);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer .footer__web {
  color: var(--accent-color);
  font-family: "Raleway";
  letter-spacing: 0.03em;
}

.footer-nav {
  margin-top: 20px;
}
.footer-nav__address {
  font-family: "Roboto";
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__list {
  margin: 0;
  margin-top: 10px;
}
.footer-nav__mailto {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 10px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__mailto:hover, .footer-nav__mailto:focus {
  color: var(--accent-color);
}
.footer-nav .footer-nav__tel {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.footer-nav .footer-nav__tel:hover, .footer-nav .footer-nav__tel:focus {
  color: var(--accent-color);
}

.footer-socials {
  margin-left: 70px;
  margin-top: 12px;
}
.footer-socials__title {
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 1.17;
}
.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}
.footer-socials__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__adress:hover, .footer-socials__adress:focus {
  background-color: var(--accent-color);
}
.footer-socials__icon {
  fill: var(--secondary-text-color);
}

.footer-subscribe {
  margin-left: 93px;
}
.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.footer-subscribe__icon {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer-subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-subscribe__email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  outline: none;
}
.footer-subscribe__email:focus {
  border: 1px solid var(--accent-color);
}
.footer-subscribe__btn {
  width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  border: none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
  cursor: pointer;
}
.footer-subscribe__logo {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 260ms linear;
  transition: opacity 260ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: opacity 260ms linear 100ms, -webkit-transform 260ms linear 100ms;
  transition: opacity 260ms linear 100ms, -webkit-transform 260ms linear 100ms;
  transition: transform 260ms linear 100ms, opacity 260ms linear 100ms;
  transition: transform 260ms linear 100ms, opacity 260ms linear 100ms, -webkit-transform 260ms linear 100ms;
  opacity: 1;
  background-color: var(--secondary-text-color);
}

.form {
  margin: 0px;
  padding: 40px;
  width: 100%;
}
.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form__label {
  display: block;
  margin: 10px 0px 4px 0px;
}
.form__input {
  height: 40px;
  width: 100%;
  padding: 0px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__icon {
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
  margin-left: 12px;
}
.form__icon:focus {
  border-color: var(--accent-color);
}
.form__icon:focus + .form__icon {
  fill: var(--accent-color);
}

textarea.form__input {
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
}

.checkbox {
  margin-top: 20px;
}
.checkbox__lebel {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  margin-left: 14px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
.checkbox-input {
  /* visibility: hidden; */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  overflow: hidden;
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  /* background-origin:border-box; */
}
.checkbox__icon {
  content: "";
  display: inline-block;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  height: 15px;
  width: 16px;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  background-image: url(../images/Vector\ \(8\)\ \(1\).svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}
.checkbox__consent {
  margin-left: 5px;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.checkbox__input {
  /* visibility: hidden; */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  overflow: hidden;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border: transparent;
  cursor: pointer;
}

.hero-button-close {
  min-width: 35px;
  min-height: 35px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
}

.hero-button-close:focus,
.hero-button-close:hover {
  /* background-origin: content-box ; */
  fill: var(--accent-color);
  /* border-color: var(--accent-color); */
  cursor: pointer;
}

.portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button__link:not(:first-child) {
  margin-left: 8px;
}
.portfolio-button__list {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--title-portfolio);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font-family: "Roboto", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button__list:hover, .portfolio-button__list:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.porfolio-conteiner {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 94px;
}
.porfolio-conteiner__list:nth-child(n+7) {
  margin-bottom: 0px;
}
.porfolio-conteiner__list {
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-conteiner__list:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.porfolio-conteiner__list:focus-within {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.porfolio-conteiner__list:nth-child(3n) {
  margin-right: 0px;
}

.product {
  display: block;
}
.product__box {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--accent-color);
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--secondary-text-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--tuming-funktion);
  transition: -webkit-transform 250ms var(--tuming-funktion);
  transition: transform 250ms var(--tuming-funktion);
  transition: transform 250ms var(--tuming-funktion), -webkit-transform 250ms var(--tuming-funktion);
}
.product:hover .product__overlay, .product:focus .product__overlay {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.product__title {
  border-left: 1px solid var(--title-portfolio);
  border-right: 1px solid var(--title-portfolio);
  border-bottom: 1px solid var(--title-portfolio);
  padding: 20px 24px;
}
.product__sample {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.product__info {
  font-family: "Roboto";
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */